<h1>Editing <%= "#{@person.first_name} #{@person.last_name}" %> </h1>

<%= render 'form', person: @person %>

<%= link_to "Back #{@person.first_name}", @person %> |
<%= link_to 'People List', people_path %>
