<h1>New Phone Number</h1>

<%= render 'form', phone_number: @phone_number %>

<% if @phone_number.contact %>
  <%= link_to 'Back', person_path(@phone_number.contact) %>
<% else %>
  <%= link_to 'Back', phone_numbers_path %>
<% end %>
