<ul>
  <% email_addresses.each do |email|  %>
    <li>
      <%= email.address %>
      <ul>
        <li><%= link_to('Edit', edit_email_address_path(email)) %></li>
        <li><%= link_to('Delete', email_address_path(email), :method => "delete", data: { confirm: 'Are you sure?' }) %></li>
      </ul>
    </li>
  <% end %>
</ul>
