<h1>New Email Address</h1>

<%= render 'form', email_address: @email_address %>


<% if @email_address.contact_type == "Company" %>
  <%= link_to 'Back', company_path(@email_address.contact) %>
<% elsif @email_address.contact_type == "Person" %>
  <%= link_to 'Back', person_path(@email_address.contact) %>
<% else %>
  <%= link_to 'Back', email_addresses_path %>
<% end %>
