<h1>New Email Address</h1>

<%= render 'form', email_address: @email_address %>


<% if @email_address.person %>
  <%= link_to 'Back', person_path(@email_address.person) %>
<% else %>
  <%= link_to 'Back', email_addresses_path %>
<% end %>
